* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

#grid-cartas {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
  justify-content: center;
}

.container-carta {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(160, 226, 255);
  transition: transform 0.3s ease-in-out;
}

.container-carta:hover {
  transform: scale(1.05);
}

.bg-reves {
  background-color: rgb(201, 114, 255);
}

.container-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: "Poppins", sans-serif;
  padding: 0.75rem 3rem;
  border-radius: 1rem;
  background-color: rgb(101, 47, 238);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

#mensaje {
  padding-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
}

#contador-turnos {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}
