* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 221, 255);
}

#grid-cartas {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
  justify-content: center;
}

.oculto {
  display: none;
}

#container-carta {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bg-reves {
  background-color: rgb(201, 114, 255);
}

.bg-frontal {
  background-color: rgb(160, 226, 255);
}
