* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oculto {
  display: none;
}

.container-carta {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;
}

.bg-reves {
  background-color: rgb(201, 114, 255);
}

.bg-frontal {
  background-color: rgb(160, 226, 255);
}
